In [1]:
from bokeh.plotting import figure,show,output_file
import pandas as pd

In [2]:
df1=pd.read_excel("https://github.com/pythonizing/data/raw/master/verlegenhuken.xlsx")
df1

       Year  Month  Day  Hour  Temperature  Pressure
0      2010     10    6     3          -30      9984
1      2010     10    6     9          -28      9992
2      2010     10    6    10          -24      9987
3      2010     10    6    11          -19      9987
4      2010     10    6    12          -19      9985
...     ...    ...  ...   ...          ...       ...
33097  2014     12   30     9         -116      9896
33098  2014     12   30    12         -103      9866
33099  2014     12   30    15          -97      9826
33100  2014     12   30    18          -93      9829
33101  2014     12   30    21          -86      9804

[33102 rows x 6 columns]

In [3]:
df1["Temperature"]=df1["Temperature"]/10
df1["Pressure"]=df1["Pressure"]/10

In [4]:
output_file=("plotting weather")
f1=figure(plot_width=500,plot_height=400,tools='pan')
f1.title.text="Temperature and air Pressure"
f1.title.text_color="Gray"
f1.title.text_font="times"
f1.title.text_font_style="bold"
f1.xaxis.axis_label="Temperature(C)"
f1.yaxis.axis_label="Pressure(hPa)"
f1.circle(df1["Temperature"],df1["Pressure"], size =0.5)
show(f1)